<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Login | Password Manager</title>
    <meta name="description" content="Login to our password manager!!!">
    <meta name="author" content="JJBP-BOT">

</head>

<body>
    <h1>Fake Login | Password Manager<h1>
    <p><i>This is a testing login page so we can like test stuff. Not the actual login page</i></p>

    <form action="/login" method="post">
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="submit" name="submit" value="Login">
    </form>
</body>
</html>