{% extends "centered_content.njk" %}

{% block head %}
{{ super() }}
<style nonce={{ nonce }}>
.password {
	visibility: hidden;
}

tr:nth-child(even) {
	background-color: #dddddd;
}
</style>
{% endblock %}

{% block main %}
<main class="login-form">
    <div class="cotainer">
		        <div class="row justify-content-center">
		            <div class="col-md-8">
		                <div class="card">
		                    <div class="card-header">Passwords Stored Here</div>
		                    <table class="myClass">
							  <tr>
							    <th>Website</th>
							    <th>Username</th>
								<th>Password</th>
							    <th>Show Password</th>
							    <th>Delete Item</th>
							  </tr>
							  <tr>
							    <td>Google</td>
							    <td>John Hale</td>
							    <td id="myDIV01" class="password">qTGQb+NyY@n&3*X5</td>
								<th><button onclick ='myFunction("myDIV01")'>Show Password</button></th>
								<th><button onclick =''>Delete</button></th>
							  </tr>
							  <tr>
							    <td>YouTube</td>
							    <td>Peter Hawrylak</td>
							    <td id="myDIV02" class="password">d#FAJU3st?ytL4Ne</td>
								<th><button onclick ='myFunction("myDIV02")'>Show Password</button></th>
								<th><button onclick =''>Delete</button></th>
							  </tr>
							  <tr>
							    <td>Facebook</td>
							    <td>Sandeep Kuttal</td>
							    <td id="myDIV03" class="password">Z3#SSt#85@p-dqgX</td>
								<th><button onclick ='myFunction("myDIV03")'>Show Password</button></th>
								<th><button onclick =''>Delete</button></th>
							  </tr>
							  <tr>
							    <td>Wikipedia</td>
							    <td>Roger Mailler</td>
							    <td id="myDIV04" class="password">cqZ@*wP6xR=rBuzQ</td>
								<th><button onclick ='myFunction("myDIV04")'>Show Password</button></th>
								<th><button onclick =''>Delete</button></th>
							  </tr>
							  <tr>
							    <td>Yahoo!</td>
							    <td>Brett McKinney</td>
							    <td id="myDIV05" class="password">-Lgu74u4Vfc6DAsS</td>
								<th><button onclick ='myFunction("myDIV05")'>Show Password</button></th>
								<th><button onclick =''>Delete</button></th>
							  </tr>
							  <tr>
							    <td>Amazon</td>
							    <td>Tyler Moore</td>
							    <td id="myDIV06" class="password">LVj7uDUECv2+^E!Q</td>
								<th><button onclick ='myFunction("myDIV06")'>Show Password</button></th>
								<th><button onclick =''>Delete</button></th>
							  </tr>
							  <tr>
							    <th><button onclick =''>Add New</button></th>
							  </tr>
							</table>
		                    </form>
		                </div>
		            </div>
		        </div>
		    </div>
</main>
<script>
		const urlParams = new URLSearchParams(window.location.search);
		if(urlParams.get('error') == 'email_already_in_use') {
			document.querySelector('#alert_placeholder').innerHTML = 'An account already exists for that email.';
		}
		else if(urlParams.get('error') == 'invalid_email') {
			document.querySelector('#alert_placeholder').innerHTML = 'Invalid email!';
		}
		else if(urlParams.get('error') == 'weak_password') {
			document.querySelector('#alert_placeholder').innerHTML = 'Weak password!';
		}
		else if(urlParams.get('error') == 'mismatched_pws') {
			document.querySelector('#alert_placeholder').innerHTML = 'Passwords do not match!';
		}
		else if(urlParams.get('error') == 'unexpected_err') {
			document.querySelector('#alert_placeholder').innerHTML = 'Sorry, unexpected error occurred. Try again.';
		}
</script>
<script nonce={{ nonce }}>
function myFunction(aa) {
  var x = document.getElementById(aa);
  if (x.style.visibility === "visible") {
    x.style.visibility = "hidden";
  } else {
    x.style.visibility = "visible";
  }
}
</script>
{% endblock %}