{% extends "centered_content.njk" %}

{% block main %}
<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
		            <div class="col-md-8">
		                <div class="card">
		                    <div class="card-header">Set New Password</div>
		                    <div class="card-body">
		                        <form action="" method="">
		                            <div class="form-group row">
		                                <label for="email_address" class="col-md-4 col-form-label text-md-right">New Password</label>
		                                <div class="col-md-6">
		                                    <input type="password" id="password" class="form-control" name="password" required autofocus>
		                                </div>
		                            </div>

		                            <div class="form-group row">
		                                <label for="password" class="col-md-4 col-form-label text-md-right">Re-enter Password</label>
		                                <div class="col-md-6">
		                                    <input type="password" id="REpassword" class="form-control" name="REpassword" required>
		                                </div>
		                            </div>



		                            <div class="col-md-6 offset-md-4">
		                                <button type="submit" class="btn btn-primary">
		                                    Set New Password
		                                </button>
		                            </div>
		                    </div>
		                    </form>
		                </div>
		            </div>
		        </div>
    </div>
</main>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get('error') == 'incorrect_user') {
        document.querySelector('#alert_placeholder').innerHTML = 'Incorrect username and/or password';
    }
    
    if(urlParams.get('success') == 'account_created') {
        document.querySelector('#alert_placeholder').innerHTML = 'New account created. Please login.';
    }
</script>
{% endblock %}