{% extends "centered_content.njk" %}

{% block head %}
{{ super() }}
<meta name="csrf-token" content="{{ csrfToken }}">
{% endblock %}

{% block main %}

<div id="passwords">
    
</div>
<button id='addPasswordButton' type="button" class="btn btn-primary">+</button>
<script nonce={{ nonce }}>
csrfToken = document
    .querySelector('meta[name="csrf-token"]')
    .getAttribute('content');

async function fetchPasswords() {
    document.querySelector('#passwords').innerHTML = `
        <table>
            <tr>
                <th>Title</th>
                <th>Username</th>
                <th>Password</th>
                <th>Delete?</th>
            <tr>
        </table>
    `;

    let res = await fetch('/api/v1/passwords', {
        headers: {
            'CSRF-Token': csrfToken
        },
    });
    res = await res.json();

    if(res.error || !res.data.items) {
        return;
    }

    let html = '';

    for(let entry of res.data.items) {
        html += `
            <tr class="entry">
                <td class="title">${entry.title}</td>
                <td class="username">${entry.storedUsername}</td>
                <td class="password">${entry.storedPassword}</td>
                <td><button class="delete">Delete</button></td>
            </tr>
        `;
    }

    document.querySelector('#passwords tr').insertAdjacentHTML('afterend', html);
    setupDelete();
}

function setupDelete() {
    for(let entry of document.querySelectorAll('.entry')) {
        const btn = entry.querySelector('.delete');
        btn.addEventListener('click', async function(e) {
            const title = entry.querySelector('.title').innerHTML
            const username = entry.querySelector('.username').innerHTML;
            await deleteEntry(title, username);
            fetchPasswords();
        });
    }
}

function deleteEntry(title, username) {
    const body = new URLSearchParams();
    body.append('title', title);
    body.append('username', username);

    return fetch('/api/v1/passwords', {
        method: 'delete',
        body,
        headers: {
            'CSRF-Token': csrfToken
        },
    });
}

fetchPasswords();

</script>


<div class="modal" tabindex="-1" role="dialog" id="addPasswordModal" aria-labelledby="addPasswordModalLabel" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <h2 id='addPasswordModalLabel'>Add a Password</h2>
        </div>
        <div class="modal-body">
            <form id="addPassword">
                <label>Title:</label>
                <input id='modalTitle' type="text" name="title"></input>
                <label>Username:</label>
                <input id='modalUser' type="text" name="username"></input>
                <label>Password:</label>
                <input id='modalPass' type="text" name="password"></input>
                <input id='submitModal' type="submit" name="submit"></input>
            </form>
            <input type="button" id='closeModal' name="close" value="Close"></input>
        </div>
        <div class="modal-footer">

        </div>
    </div>
</div>

<span id="addPasswordError"></span>
<script nonce={{ nonce }}>
document.forms[0].submit.addEventListener('click', async function(e) {
    e.preventDefault();

    const body = new URLSearchParams();
    for(let input of document.forms[0].elements) {
        body.append(input.name, input.value);
    }

    let res = await fetch('/api/v1/passwords', {
        method: 'post',
        body,
        headers: {
            'CSRF-Token': csrfToken
        },
    });

    res = await res.json();

    if(res.error) {
        document.querySelector('#addPasswordError').innerHTML = res.error.message;
    }
    else {
        document.querySelector('#addPasswordError').innerHTML = "";
        fetchPasswords();
    }
});

document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('addPasswordButton')
        .addEventListener('click', function doThings() { 
            document.getElementById("addPasswordModal").style = "display:block";
        });
    document.getElementById('closeModal')
        .addEventListener('click', function doThings() { 
            document.getElementById("addPasswordModal").style = "display:none";
            document.getElementById("modalTitle").value = "";
            document.getElementById("modalUser").value = "";
            document.getElementById("modalPass").value = "";
        });
    document.getElementById('submitModal')
    .addEventListener('click', function doThings() {
            document.getElementById("addPasswordModal").style = "display:none";
            document.getElementById("modalTitle").value = "";
            document.getElementById("modalUser").value = "";
            document.getElementById("modalPass").value = "";
        });
});

</script>

{% endblock %}