{% extends "centered_content.njk" %}

{% block head %}
{{ super() }}
<meta name="csrf-token" content="{{ csrfToken }}">
<script src="/js/homepage.js"></script>
{% endblock %}

{% block main %}
<div id="actions">
    <button id='addPasswordButton' type="button" class="btn btn-primary">+</button>
    <input id="search" type="text" class="form-control" placeholder="Search..."></input>
</div>

<div>
    <div id="passwords">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">Title</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Show?</th>
                <th scope="col">Delete?</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="addPasswordModal" aria-labelledby="addPasswordModalLabel" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <h2 id='addPasswordModalLabel'>Add a Password</h2>
        </div>
        <div class="modal-body">
            <form id="addPassword">
                <label>Title:</label>
                <input id='modalTitle' type="text" name="title" class="form-control"></input>
                <label>Username:</label>
                <input id='modalUser' type="text" name="username" class="form-control"></input>
                <div class="card">
                    <div class="card-header">Password:</div>
                    <input id='slider' type="range" value='12' min="6" max="32" step="1" list="steplist" class="custom-range">
                    <div id='text'>Length: 12

                    </div>
                    <div>
                        <input class="form-check-input" id='num' checked type='checkbox'>
                        Numbers
                    </div>
                    <div>
                        <input class="form-check-input" id='spec' checked type='checkbox'>
                        Special Characters
                    </div>
                    <br>
                </div>
                <input id='modalPass' type="text" name="password" class="form-control"></input>
                <input id='submitModal' type="submit" name="submit" class="btn btn-primary"></input>
            </form>
        </div>
        <div class="modal-footer">

        </div>
    </div>
</div>

<span id="addPasswordError"></span>

{% endblock %}