<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>JJBP-BOT Sign Up</title>
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
		    <div class="container">
		        <a class="navbar-brand" href="#">JJBP-BOT</a>
		        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		            <span class="navbar-toggler-icon"></span>
		        </button>

		        <div class="collapse navbar-collapse" id="navbarSupportedContent">
		            <ul class="navbar-nav ml-auto">
		                <li class="nav-item">
		                    <a class="nav-link" href='/login'>Login</a>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link" href='/signup'>Sign Up</a>
		                </li>
		            </ul>

		        </div>
		    </div>
		</nav>

		<main class="login-form">
		    <div class="cotainer">
		        <div class="row justify-content-center">
		            <div class="col-md-8">
		                <div class="card">
		                    <div class="card-header">Create An Account</div>
		                    <div class="card-body">
		                        <form action="/signup" method="post">
		                            <div class="form-group row">
		                                <label for="email_address" class="col-md-4 col-form-label text-md-right">Email</label>
		                                <div class="col-md-6">
		                                    <input type="text" id="user_name" class="form-control" name="username" required autofocus>
		                                </div>
		                            </div>

		                            <div class="form-group row">
		                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
		                                <div class="col-md-6">
		                                    <input type="password" id="password" class="form-control" name="password" required>
		                                </div>
		                            </div>

									<div class="form-group row">
		                                <label for="password" class="col-md-4 col-form-label text-md-right">Confirm Password</label>
		                                <div class="col-md-6">
		                                    <input type="password" id="password2" class="form-control" name="password2" required>
		                                </div>
		                            </div>

		                            <div class="col-md-6 offset-md-4">
										<div id = "alert_placeholder"></div>
		                                <button type="submit" class="btn btn-primary">
		                                    Sign Up
		                                </button>
		                            </div>
		                    </div>
		                    </form>
		                </div>
		            </div>
		        </div>
		    </div>
    </div>
      </div>
    </div>
  </div>
  	<script>
		const urlParams = new URLSearchParams(window.location.search);
		if(urlParams.get('error') == 'email_already_in_use') {
			document.querySelector('#alert_placeholder').innerHTML = 'An account already exists for that email.';
		}
		else if(urlParams.get('error') == 'invalid_email') {
			document.querySelector('#alert_placeholder').innerHTML = 'Invalid email!';
		}
		else if(urlParams.get('error') == 'weak_password') {
			document.querySelector('#alert_placeholder').innerHTML = 'Weak password!';
		}
		else if(urlParams.get('error') == 'mismatched_pws') {
			document.querySelector('#alert_placeholder').innerHTML = 'Passwords do not match!';
		}
		else if(urlParams.get('error') == 'unexpected_err') {
			document.querySelector('#alert_placeholder').innerHTML = 'Sorry, unexpected error occurred. Try again.';
		}
  	</script>
  </body>
</html>