{% extends "centered_content.njk" %}

{% block head %}
{{ super() }}
<style id="strengthStyle" nonce={{ nonce }}>
  #strength {
    max-width: 0;
    overflow: hidden;
    margin: auto;
  }

  img {
    width: 200px; 
    height: 10px;
    float: left;
  }
</style>
{% endblock %}

{% block main %}
<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Strong Passwords Generator</div>
                    <input id='slider' type="range" value='12' min="6" max="32" step="1" list="steplist">
                    <div id='text'>Length: 12

                    </div>
                    Password Strength:
                    <div id='strength'>
                        <img src='https://i.stack.imgur.com/dDQbw.png'>
                    </div>
                    <div>
                        <input id='num' type='checkbox'>
                        Numbers
                    </div>
                    <div>
                        <input id='spec' type='checkbox'>
                        Special Characters
                    </div>
                    <br>
                    <input id='passwordText' type='text'>
                    </form>
                </div>
            </div>
        </div>
     </div>
</main>
<script nonce = {{ nonce }}>
$(document).ready(function() {

  var prevLen = 12;
  generatePassword($("#slider").val());

  $("#slider").on("mousemove mouseup", function() {
    var length = $(this).val();
    $("#text").text("Length: " + length);
    if (prevLen != length) {
      generatePassword(length);
      prevLen = length;
    }
  });
  $("#num").on("mouseup", function() {
    if (!$("#num").prop('checked')) {
      nums = true;
    } else {
      nums = false;
    }
    generatePassword(prevLen);
  });
  $("#spec").on("mouseup", function() {
    if (!$("#spec").prop('checked')) {
      specs = true;
    } else {
      specs = false;
    }
    generatePassword(prevLen);
  });
});

var Password = {

  _getRandomByte: function() {
    // http://caniuse.com/#feat=getrandomvalues
    if (window.crypto && window.crypto.getRandomValues) {
      var result = new Uint8Array(1);
      window.crypto.getRandomValues(result);
      return result[0];
    } else if (window.msCrypto && window.msCrypto.getRandomValues) {
      var result = new Uint8Array(1);
      window.msCrypto.getRandomValues(result);
      return result[0];
    } else {
      return Math.floor(Math.random() * 256);
    }
  },

  generate: function(length) {
    return Array.apply(null, {
        'length': length
      })
      .map(function() {
        var result;
        while (true) {
          result = String.fromCharCode(this._getRandomByte());
          if (_pattern.test(result)) {
            return result;
          }
        }
      }, this)
      .join('');
  }

};

function scorePassword(pass) {
  var score = 0;
  if (!pass)
    return score;

  // award every unique letter until 5 repetitions
  var letters = new Object();
  for (var i = 0; i < pass.length; i++) {
    letters[pass[i]] = (letters[pass[i]] || 0) + 1;
    score += 7.0 / letters[pass[i]];
  }

  // bonus points for mixing it up
  var variations = {
    digits: /\d/.test(pass),
    lower: /[a-z]/.test(pass),
    upper: /[A-Z]/.test(pass),
    nonWords: /\W/.test(pass),
  }

  variationCount = 0;
  for (var check in variations) {
    variationCount += (variations[check] == true) ? 1 : 0;
  }
  score += (variationCount - 1) * 10;

  return parseInt(score);
}

function checkPassStrength(pass) {
  var score = scorePassword(pass);
  return score;
}

var nums = false;
var specs = false;
var _pattern = /[a-zA-Z]/;

function generatePassword(len) {

  if (specs == false && nums == false) {
    _pattern = /[a-zA-Z]/;
  }
  if (specs == false && nums == true) {
    _pattern = /[a-zA-Z0-9]/;
  }
  if (specs == true && nums == false) {
    _pattern = /[a-zA-Z!\@\#\$\%\^\&\*\.\?\-\_\+]/;
  }
  if (specs == true && nums == true) {
    _pattern = /[a-zA-Z0-9!\@\#\$\%\^\&\*\.\?\-\_\+]/;
  }

  $("#passwordText").val(Password.generate(len));

  var pass = $("#passwordText").val();

  document.querySelector('#strengthStyle').innerHTML = `
    #strength { 
      max-width: ${checkPassStrength(pass) * 2}px; 
      overflow: hidden;
      margin: auto; 
    }
    
    img {
      width: 200px; 
      height: 10px;
      float: left;
    }`;
}

</script>
{% endblock %}